:ruby
  # rubocop: disable Lint/DuplicateBranch -- The feature enabled needs to take precedence
  title = if merge_request_dashboard_enabled?(current_user)
            _('Merge requests')
          elsif params[:reviewer_username] == current_user.username
            _("Review requests")
          elsif params[:assignee_username] == current_user.username
            _("Assigned merge requests")
          else
            _("Merge requests")
          end
  # rubocop: enable Lint/DuplicateBranch
  page_title title
  @breadcrumb_link = merge_requests_dashboard_path(assignee_username: current_user.username)
  add_page_specific_style 'page_bundles/issuable_list'

= render_dashboard_ultimate_trial(current_user)
= render_if_exists 'shared/dashboard/saml_reauth_notice',
  groups_requiring_saml_reauth: user_groups_requiring_reauth

- if merge_request_dashboard_enabled?(current_user)
  #js-merge-request-dashboard{ data: { initial_data: merge_request_dashboard_data.to_json } }
    = render ::Layouts::PageHeadingComponent.new(_('Merge requests'))
    = gl_loading_icon(size: 'lg')
- else
  = render ::Layouts::PageHeadingComponent.new(title) do |c|
    - c.with_actions do
      - if current_user
        = render 'shared/new_project_item_vue_select'

  .top-area
    = render 'shared/issuable/nav', type: :merge_requests, display_count: !(@no_filters_set || @search_timeout_occurred)

  = render 'shared/issuable/search_bar',
    type: :merge_requests,
    disable_target_branch: true,
    disable_releases: true,
    disable_environments: true

  - if current_user && @no_filters_set
    = render 'no_filter_selected'
  - elsif @search_timeout_occurred
    = render 'shared/dashboard/search_timeout_occurred'
  - else
    = render 'shared/merge_requests'
