.duo-pro-trials {
  .bg-decorations {
    @include gl-media-breakpoint-up(md) {
      background-image: url('illustrations/bg-decorations.svg');
      background-position: top 30% right -40px;
    }
  }
}

.duo-enterprise-trials {
  .bg-decorations {
    @include gl-media-breakpoint-up(md) {
      background-image: url('illustrations/bg-decorations.svg');
      background-position: top 87% right 130px;
    }
  }
}
