- advantages = [s_('DuoProTrial|Code completion and code generation with Code Suggestions')]
- advantages << s_('DuoProTrial|Organizational controls')
- advantages << s_('DuoProTrial|Chat')
- advantages << s_('DuoProTrial|Code explanation')
- advantages << s_('DuoProTrial|Code refactorization')
- advantages << s_('DuoProTrial|Test generation')

= render GitlabSubscriptions::TrialAdvantagesComponent.new do |c|
  - c.with_header do
    = s_('DuoProTrial|GitLab Duo Pro is designed to make teams more efficient throughout the software development lifecycle with:')
  - c.with_advantages(advantages)
  - c.with_footer do
    = (s_('DuoProTrial|GitLab Duo Pro is only available for purchase for Premium and Ultimate users.'))
